body {
    background-color: rgb(245, 244, 239);
    text-align: left;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 8px;
    /* line-height: 20px; */
}

a:hover {
    color: white;
    background-color: rgb(199, 67, 80);
}

header a {
    color: black;
    text-decoration: none;
    font-size: 21px;
}

header a:hover {
    color: rgb(199, 67, 80);
}

header h1 {
    font-size: 55px;
    line-height: .6px;
}

.links-no-dec {
    color: black;
    text-decoration: none;
    display: block;
    width: 250px;
}

.links-no-dec-h3 {
    color: black;
    text-decoration: none;
    display: block;
    width: 260px;
}

.links-no-u {
    color: rgb(199, 67, 80);
    text-decoration: none;
}

.links-dec {
    color: rgb(199, 67, 80);
}

hr {
    color: rgb(224, 227, 227);
    size: .1px;
}

h1 p {
    font-size: 16px;
    font-weight: normal;
    padding: .6px;
}

div {
    background-color: white;
    padding: 20px 20px 20px;
    border-radius: 15px;
    line-height: 23px;
}

.mainer {
    /*  border: 1px solid; */
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(245, 244, 239);
    margin-left: 340px;
    padding-left: 220px;
    padding-top: 35px;
}